<%- include('../includes/header.ejs') %>
<main id="main">
    <section id="about" style="margin-top:40px; ">
        <div class="container" >
            <header class="section-header" id="main-header" >
                <h3 id="header-title">Forget Password?</h3>
            </header>
            <div class="row about-container" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <form action="/forgetpassword" method="post">

                            <a href="/" class="btn btn-primary btn-block btn-lg mt-5">Submit</a>
                        </form>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
    
<%- include('../includes/footer.ejs') %>